<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>mypage</title>
    </head>
    <body>
        <h1>あなたのページ</h1>
        <p th:text="'こんにちは、 ' + ${name} + 'さん'" />
        <p>あなたの権限は、</p>
        <tr th:each="authority : ${authorities}">
          <td th:text="${authority}"></td>
        </tr>
        <p>です</p>
        <div th:if="${isADMIN}">
          <form th:action="@{/registration}" method="get">
            <button type="submit">新規ユーザ登録</button>
          </form>
        </div>
        <form th:action="@{/logout}" method="post">
          <button type="submit">ログアウト</button>
        </form>
    </body>
</html>
